{
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  
}

ul li {
  float: left;
  border-right:1px solid #bbbbbb;
}

ul li:last-child {
  border-right: none;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #59006b;
}

ul li a.active {
  background-color: #e6b5e6;
}

body{
  background-image: url("nerve_cell_bg2.jpg");
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:#fffdfdea;
  font-size: x-large; 
}
h1{
  color: #fffdfdea;
}

a:link {
  color:#d859d8;
}
a:visited {s
color:#22358b;
}
a:hover {
color:aquamarine;
}
